@charset "utf-8";
/* CSS Document */


#loginview{
	margin:200px 300px;
	background:#FFF;
	padding:20px 30px;
	background:url(row-bot-bg.jpg) center top repeat;}
#registerview{
    margin:100px 300px;
    background:#FFF;
    padding:20px 30px;
    background:url(row-bot-bg.jpg) center top repeat;}
#create_art_view{
    margin:50px 100px;
    background:#FFF;
    padding:20px 30px;
    background:url(row-bot-bg.jpg) center top repeat;
}

.form-control{display:inline;width:78%;height:34px;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#555555;vertical-align:middle;background-color:#ffffff;border:1px solid #cccccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}

#admin{
	color:#06F;
	text-align:center;
	font-size:30px;
	font-weight:bolder;
	font-family:微软雅黑;}
#up{
	color:#999;
	font-size:20px;
	font-weight:bolder;}
#btn{
	text-align:right;
	margin:20px 10px;}
.button{
	display:inline-block;padding:10px 30px;font-size:20px;font-weight:bold;font-family:微软雅黑;line-height:1.428571429;text-align:right;vertical-align:middle;cursor:pointer;border:1px solid transparent;border-radius:6px;white-space:nowrap;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;color:#ffffff;background-color:#36F;border-color:#4cae4c;}
.button:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.button:focus,.button:active,.button.active,.open .dropdown-toggle.button{color:#ffffff;background-color:#666;border-color:#398439;}
.button:active,.button.active,.open .dropdown-toggle.button{background-image:none;}


#left_tab{
	float:left;
	width:40%;}
.main_button{
	width:90%;
	margin-right:20px;
	text-align:center;}
#main_view{
	margin:10px 50px;
	}
#welcome{
	padding:10px 15px;
	background:#09C;
	color:#FFF;
	font-weight:bolder;
	font-size:20px;}
#showfile{
	width:60%;
	float:right;
	}
#project{
	padding:10px 10px;
	font-size:30px;
	color:#06F;
	font-weight:bolder;
	}
#fileview{
	margin:20px 10px;
	}
.filebtn{
	margin:10px 10px;
	display:inline-block;padding:10px 30px;font-size:20px;font-weight:bold;font-family:微软雅黑;line-height:1.428571429;text-align:right;vertical-align:middle;cursor:pointer;border:1px solid transparent;border-radius:6px;white-space:nowrap;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;color:#ffffff;background-color:#36F;border-color:#4cae4c;
	}
